.text{
    color: white;
}
.type{
    font-style: italic;
}
.type2{
    font-size: smaller;
    font-weight: bolder;
    font-style: oblique;
}
.gif{
    background: url(https://thumbs.gfycat.com/DisgustingBlandDromedary-small.gif);
    background-size: cover;
    height: fit-content;
    width: fit-content;
}
img{
    float: right;
}
